@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '$lib/styles/tokens.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: var(--fs);
  color: var(--text);
  background: var(--bg);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}